<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">{{user.username}}'s dashboard</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a ng-href="#!/new_team/characters">Create a Team</a></li>
              <li><a ng-href="#!/">Challenge a Friend</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
			<li><a href="#!/">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class="apiSearch">
	<button class="btn btn-danger" ng-click="dash.setAPI('Marvel')"> Marvel Comics API </button>
	<button class="btn btn-success" ng-click="dash.setAPI('ComicVine')"> ComicVine API </button>
	<input type="text" ng-class="{marvelInput: dash.marvelSearch, comicVineInput: dash.comicSearch}" 
 ng-model="dash.character">
	<button class="btn btn-primary" ng-click="dash.getCharacter(dash.character, dash.api)">Let's Try This Out</button>
</div>
<div class="apiSearch">

</div>
<p>Here's what I got: {{dash.result}}</p>
<p> Possible image link <img src="{{dash.image}}"></p>
 

<h4> Create a Team</h4>
<h4> Active Games </h4>
<h4> Pending Challenges </h4>
<h4> Challenge a Friend!</h4>