<div class="container">

	<div class="row">
	<h3>Welcome to the Imagination Game!</h3>
<div class="container">
	<h3>Please login or register to start discussing!</h3>
	<div class="row">
	<div class="col-md-6">
	<h4> Login </h4>
	<p class="red-text" ng-repeat = "error in main.loginErrors"> {{error}}</p>
	<form ng-submit="main.loginUser(main.userCreds)">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" ng-model="main.userCreds.email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" ng-model="main.userCreds.password">
		</div>
		<button class="btn btn-success" type="submit">Login</button>
	</form>
	</div>
	<div class="col-md-6">
	<h4>Register</h4>
	<p class="red" ng-repeat="error in main.regErrors">{{ error.message }} </p>
	<form ng-submit="main.registerUser(main.newUser)">
		<div class="form-group">
			<label for="first_name">First Name</label>
			<input type="text" class="form-control" id="name" ng-model="main.newUser.first_name">
		</div>
		<div class="form-group">
			<label for="last_name">Last Name</label>
			<input type="text" class="form-control" id="name" ng-model="main.newUser.last_name">
		</div>
		<div class="form-group">
			<label for="username">User Name</label>
			<input type="text" class="form-control" id="name" ng-model="main.newUser.username">
		</div>
		<div class="form-group">
			<label for="remail"">Email</label>
			<input type="text" class="form-control" id="remail" ng-model="main.newUser.email">
		</div>
		<div class="form-group">
			<label for="rpassword">Password</label>
			<input type="password" class="form-control" id="rpassword" ng-model="main.newUser.password">
		</div>
		<div class="form-group">
			<label for="passwordc">Confirm Password</label>
			<input type="password" class="form-control" id="passwordc" ng-model="main.newUser.passwordConfirmation">
		</div>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	</div>
	</div>
</div>