<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Create a Team</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li><a ng-href="#!/dashboard/">Dashboard</a></li>
              <li><a ng-href="#!/">Challenge a Friend</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
	<h1 class="text-center">Step 2: Give your characters some moves</h1>
	<h4>{{team.userTeam.name}}</h4>
      <ul class="characterSelect">
          <li ng-repeat="char in team.userTeam.members track by $index">
              <img class="thumb img-responsive" src="{{char.image}}" ng-click="team.selectChar($index)">
          </li>
      </ul>
      <button class="btn btn-primary" ng-click="team.create(team.userTeam)">Save Team</button>
      <button class="btn btn-primary" ng-click="team.printTeam()">Print Team</button>
      <div class="row">
          <div class="col-md-6">
              <h3> {{team.selectedChar.name}}</h3>
              <p ng-repeat="move in team.selectedChar.moves">{{move.name}}</p>

          </div>
          <div class="col-md-6">
              <h3> Available Moves</h3>
              <ul >
                  <li class="moves" ng-repeat="move in team.filteredMoves track by move.name" ng-click="team.addMove(move.name)"> 
                  <h5>{{move.name}}</h5>
                  <p class="indented">Type: {{move.type }}</p>
                  <p class="indented">Damage: {{move.damage.display}}</p>
                  <p class="indented">Status Effect: {{move.status_effect}}</p>
                  </li>
              </ul>
          </div>
      </div>


	</div>
	</div>
