
	<div class="row">
		<div class="col-sm-6">
			<img class="thumb img-responsive" ng-class="{'selected-char': selected}" src="{{character.image}}">
		</div>
		<div class="col-sm-6">
			<h5> {{character.name}} </h5>
			<uib-progressbar value="character.health" type="{{displayHealth(character.health)}}"><b>{{character.health}}/100</b></uib-progressbar>
			<ul class="list-group">
				<li class="list-group-item" ng-class="{active: possibleMove == move.name.toUpperCase()}" ng-repeat="move in character.moves">{{move.name}}</li>
			</ul>
		</div>
	</div>
